* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #98a5c0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Outfit', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  background: #111c3e;
  /* background: #004aad; */
}

.logo-text {
  font-size: 18px;
  color: #ffe605;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  font-size: 14px;
  color: #fff;
}

.nav-links a:hover {
  cursor: pointer;
  color: #ffe605;
}

.hire-me {
  padding: 10px 20px;
  border-radius: 20px;
  background: #ffe605;
  border: #fff;
  transition: background-color 0.5s ease-in-out;
}

.hire-me:hover {
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(to left, #22234b, #6610f2);
  transform: scale(1.1);
}

.main-container {
  width: 100%;
  /* max-width: 1300px; */
  margin: 0 auto;
}

.hero {
  background: #22234b;
  padding: 20px 50px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: #fff;
}

.hero-left .heading-text {
  font-size: 18px;
}

.hero-left .intro {
  color: #ffe605;
}

.hero-left h1 {
  font-size: 40px;
  padding: 10px 0 20px 0;
}

.hero-left p {
  width: 70%;
  padding: 0 0 30px 0;
}

.cv-btn button {
  background: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  transition: background-color 0.5s ease-in-out;
}

.cv-btn button a {
  color: black;
}

.cv-btn button:hover {
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(to left, #22234b, #6610f2);
  transform: scale(1.1);
}

button.cv a:hover {
  /* cursor: pointer;
  color: #fff;
  background-image: linear-gradient(to left, #22234b, #6610f2); */
  /* transform: scale(1); */
}

/* About Me */
.about {
  background: #111c3e;
  padding: 20px 50px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 50px;
  color: #fff;
}

.about-left {
  width: 40%;
  padding: 30px 0;
}
/* 
.about-left .img-holder {
  width: 100%;
  border: 2px solid #ffe605;
} */

.img-holder img {
  width: auto;
  height: 350px;
  border: 2px solid #ffe605;
  border-radius: 20px;
}

.about-right {
  padding: 30px 50px 0 0;
  width: 60%;
}

.about-right-content {
  width: 100%;
}

.about-right-content h2 {
  color: #ffe605;
  font-size: 30px;
}

.about-right-content p {
  width: 90%;
  padding: 10px 0;
}

/* Skills */
.skills-container {
  padding: 50px 0;
}

.skills-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.skills-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.techstacks {
  width: 30%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 2px solid red;
  border-radius: 20px;
}

.techstacks h3 {
  padding-bottom: 10px;
}

.basic-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 10px 0;
}

.version-control {
  width: 30%;
}

.designs {
  width: 30%;
}

/* Services Section */

.services {
  padding: 50px;
}

.service-container {
  display: flex;
}
